
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f8fc;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #FF7900;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px;
    background-color: #3476F0; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-footer {
    margin-top: 10px;
  }
  